@import 'color-palette';

$avatar-width: 50px;

:host {
  display: flex;
  flex-direction: row;

  padding: 15px;
  // border-bottom: 1px solid $soft-grey;
  cursor: pointer;

  &:hover {
    background-color: $danube;
  }
}

.room-avatar {
  width: 50px;
  height: 50px;

  background-color: rosybrown;
  border-radius: 50%;
  object-fit: cover;

  margin-right: 10px;

  &.online {
    border: 2px solid $online;
  }
}

.room-info-wrapper {
  width: calc(100% - #{$avatar-width});

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .room-info {
    display: flex;
    flex-direction: column;

    .room-name {
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 14px;
      color: #CADBE8;

      margin-bottom: 5px;
    }

    .room-last-message {
      font-size: 14px;
    }
  }

  .room-last-message-time {
    font-size: 14px;
  }
}
