@import 'color-palette';
@import 'shared';

:host {
  width: 100%;
  display: flex;

  border-bottom: 1px solid $matisse-soft;
  padding: 10px $room-chat-header-left-right-padding;

  .room-chat-avatar {
    width: 35px;
    height: 35px;

    background-color: rosybrown;
    object-fit: cover;
    border-radius: 50%;

    margin-right: 10px;
  }

  .room-chat-status {
    font-size: 14px;
    color: $online;
  }
}
