@import 'color-palette';

:host {
  display: flex;
  cursor: pointer;
  padding: 8px 15px;

  border-bottom: 1px solid $matisse-soft;

  .contact-item-avatar {
    width: 35px;
    height: 35px;

    background-color: rosybrown;
    border-radius: 50%;
    object-fit: cover;

    margin-right: 10px;
  }
}
