@import 'color-palette';

:host {
  display: block;

  padding-left: 20px;
  padding-right: 20px;

  .channels-label {
    color: $porcelain;
    opacity: 0.6;
  }

  .channel-item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .divider {
    margin-top: 20px;
    height: 1px;
    opacity: 0.6;
    border-radius: 20%;
    background-color: $porcelain;
  }
}
