<ac-room-chat-header></ac-room-chat-header>
<div class="messages-container">
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div><div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <var>v</var>

  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>
  <div>some message</div>

</div>
<ac-room-chat-footer></ac-room-chat-footer>
