<div *ngIf="room" class="room-chat-container">
  <ac-room-chat-header [title]="getHeaderTitle()" [room]="room" [currentUser]="currentUser" [usersOnline]="usersOnline"></ac-room-chat-header>
  <div class="messages-container">
    <div *ngFor="let message of room.messages; index as i">
      <ac-room-chat-message
        [message]="message"
        [isViewed]="isMessageViewed(message)"
        [author]="getMessageAuthor(message)"
        [showAuthor]="room.messages[i-1] ? room.messages[i-1].authorId !== message.authorId : true"
        class="message-wrapper"></ac-room-chat-message>
    </div>
    <div *ngIf="room.messages.length === 0" class="messages-container-empty">
      No messages here yet
    </div>
  </div>
  <ac-room-chat-footer
    (message)="submitMessage($event)"
    (typingMessage)="sendTypingEvent()"
    (stopTypingMessage)="sendStopTypingEvent()"></ac-room-chat-footer>
</div>
