@import 'shared';

:host {
  display: block;
  width: calc(100% - #{$sidebar-width});
  position: relative;
}

.messages-container {
  height: calc(100% - (#{$room-chat-header-height} + #{$room-chat-footer-height}));
  padding: 0 $room-chat-header-left-right-padding 25px $room-chat-header-left-right-padding;

  box-sizing: border-box;
  overflow: auto;
}
