// Primary
$matisse: #18222D;
$matisse-soft: #213040;

$chathams-blue: #194971;

// Accents
$cadet-blue: #9EAFC1;
$porcelain: #EEF0F2;
$havelock-blue: #6175DE;
$danube: #63A2D8;
$downy: #6FD6D3;
$online: #74D89E;

$rhino: #24344B;
$soft-grey: #f1f1f3;
$white-lilac: #FAFBFD;
