<ac-sidebar-header></ac-sidebar-header>

<ac-sidebar-room-list *ngIf="isSectionActive('rooms')"
  [activeRoom]="activeRoom"
  [rooms]="rooms"
  [currentUser]="currentUser"
  [typingMessages]="typingMessages"
  (activeRoomChanged)="setActiveRoom($event)">
</ac-sidebar-room-list>

<ac-sidebar-contacts *ngIf="isSectionActive('contacts')"
  [users]="users"
  [usersOnline]="usersOnline"
  (roomChanged)="createOrOpenRoom($event)">
</ac-sidebar-contacts>

<ac-sidebar-settings *ngIf="isSectionActive('settings')">
</ac-sidebar-settings>

<ac-sidebar-footer (activeSectionChanged)="setActiveSection($event)"></ac-sidebar-footer>
