@import 'color-palette';

:host {
  width: 100%;
  display: block;

  border-top: 1px solid $matisse-soft;
  padding: 0 40px;

  position: absolute;
  bottom: 0;

  .message-form {
    display: flex;
  }

  .submit-button {
    font-size: 20px;

    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }

  .message-input {
    width: 95%;
  }
}
