@import 'color-palette';

:host {
  width: 100%;
  display: block;

  border-top: 1px solid $matisse-soft;
  padding: 0 20px;

  position: absolute;
  bottom: 0;

  .message-form {
    display: flex;
  }

  .message-form-icon {
    font-size: 20px;
    color: $cadet-blue;

    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    transition: color 0.2s ease;

    &:hover {
      color: $porcelain;
    }
  }

  .attachments-icon {
    font-size: 22px;
    margin-right: 20px;
  }

  .emoji-icon {
    font-size: 24px;
  }

  .message-input {
    width: 95%;
  }
}
