<h3 class="login-form-title">Реєстрація</h3>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-form-field>
    <input matInput type="text" name="firstName" placeholder="Ім'я" id="firstName" [(ngModel)]="signUpModel.firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="lastName" placeholder="Прізвище" id="lastName" [(ngModel)]="signUpModel.lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="username" placeholder="Псевдонім" id="username" [(ngModel)]="signUpModel.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="email" placeholder="Електронна адреса" id="email" [(ngModel)]="signUpModel.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" placeholder="Пароль" id="password" [(ngModel)]="signUpModel.password">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Зареєструватись</button>
</form>
