@import 'color-palette';

:host {
  width: 100%;
  display: flex;
  justify-content: space-around;

  position: absolute;
  bottom: 0;

  padding: 10px;
  border-top: 1px solid $matisse-soft;

  .section-icon {
    font-size: 26px;
    color: $cadet-blue;

    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: $porcelain;
    }
  }
}
