@import 'color-palette';

:host {
  display: block;
  width: 350px;

  .login-form-title {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    .no-account {
      font-size: 14px;
      margin-bottom: 20px;
    }

    button {
      background-color: #2368A1;
    }
  }
}
