<h3 class="login-form-title">Авторизуйтесь</h3>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-form-field>
    <input matInput type="text" name="email" placeholder="Електронна адреса" id="email" [(ngModel)]="loginModel.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" name="password" placeholder="Пароль" id="password" [(ngModel)]="loginModel.password">
  </mat-form-field>
  <span (click)="signUp()" class="no-account">Ще немає аккаунту? Зареєструйтесь.</span>
  <button type="submit" mat-raised-button>Вхід</button>
</form>
